* {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333 !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

.navbar-brand {
    color: rgb(254, 138, 166) !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #f6456e !important;
    transition: color 0.8s ease !important;
}

.nav-link,
.dropdown-item {
    color: rgb(254, 138, 166) !important;
    background-color: rgba(254, 138, 166, 0.1) !important;
    border-radius: 10px;
}

.nav-link:hover,
.dropdown-item:hover {
    background-color: rgba(253, 61, 106, 0.2) !important;
    border-radius: 10px;
    transition: background-color 0.5s ease !important;
}

.footer .text-body {
    color: rgb(254, 138, 166) !important;
}

.row .card .card-title {
    font-weight: bold;
    color: rgb(254, 138, 166) !important;
}

.row .card {
    font-weight: bold;
    color: rgb(254, 138, 166) !important;
    background-color: #444;
    border: none;
}

.titulo {
    text-align: center;
    font-weight: bold;
    color: #fe8aa6;
    margin: 15px;
    padding-top: 90px;
}

hr.thick-hr {
    border: 0;
    height: 3px;
    background-color: rgb(254, 138, 166);
}

.recipe-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-link {
    color: rgb(254, 138, 166);
    text-decoration: none;
    font-weight: bold;
}

.btn-link:hover {
    color: #f6456e;
    transition: color 0.8s ease;
}

.card-body p,
.card-body ul {
    color: #ffffff;
    font-weight: 400;
}

.card-body ul li {
    margin-bottom: 10px;
}

.imagenes {
    display: grid;
    gap: 5px;
    grid-template-areas: "a b c"
                         "a d d";
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 98%;
    margin: 15px;
}

.area-a { grid-area: a; }
.area-b { grid-area: b; }
.area-c { grid-area: c; }
.area-d { grid-area: d; }

.imagenes > div {
    text-align: center;
    border-radius: 10px;
}

.imagenes > div > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .imagenes {
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    .imagenes {
        grid-template-areas: "a b"
                             "a d"
                             "c d";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
}